.preview-article {
    width: 40%;
    max-width: 600px;
    border: 1cap solid white;
}

.button-read-more {
    background: #01010159;
    padding: 5px;
    display: inline;
}

span.tag {
    margin-right: 0.4rem;
    text-decoration: underline;
    font-style: italic;
}