/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(42,9,83);
background: linear-gradient(90deg, rgba(42,9,83,1) 26%, rgba(0,74,91,1) 100%);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a {
    color: white;
    text-decoration: underline;
    margin: 2px 2px;
    padding: 10px;
    font-weight: bold;
}
