/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(76,73,152);
    background: linear-gradient(90deg, rgba(76,73,152,1) 22%, rgba(7,139,185,1) 82%);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a {
    color: white;
    text-decoration: underline;
    margin: 2px 2px;
    padding: 10px;
    font-weight: bold;
}
